@model Restauracja.Models.PrzyjmowaneDane.AdresModel

@{
    int restauracjaId = (int)ViewData["RestauracjaId"];
}

<body>
    <form asp-controller="Restauracja" asp-action="ZapiszAdres" method="post">
        <div class="form-group">
            <label asp-for="Miejscowosc">Miejscowość:</label>
            <input asp-for="Miejscowosc" class="form-control" placeholder="Podaj miejscowość" />
        </div>

        <div class="form-group">
            <label asp-for="KodPocztowy">Kod pocztowy:</label>
            <input asp-for="KodPocztowy" class="form-control" placeholder="Podaj kod pocztowy" />
        </div>

        <div class="form-group">
            <label asp-for="Ulica">Ulica:</label>
            <input asp-for="Ulica" class="form-control" placeholder="Podaj ulicę" />
        </div>

        <div class="form-group">
            <label asp-for="NumerDomu">Numer domu:</label>
            <input asp-for="NumerDomu" class="form-control" placeholder="Podaj numer domu" />
        </div>

        <div class="form-group">
            <label asp-for="RestauracjaId">ID Restauracji:</label>
            <input asp-for="RestauracjaId" class="form-control" type="number" value="@restauracjaId" readonly />
        </div>

        <button type="submit" class="btn btn-success mt-3">Zapisz</button>
        <a asp-action="Index" class="btn btn-secondary mt-3">Anuluj</a>
    </form>
</body>
