@model List<Restauracja.Models.PrzyjmowaneDane.RestauracjaModel>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona główna</title>
    <link rel="stylesheet" href="~/css/PrzegladajStyl.css" />
</head>
<body>
    <div class="container">
        @foreach (var restauracja in Model)
        {
            <div class="card">
                <img src="https://via.placeholder.com/300x200" alt="Zdjęcie restauracji">
                <div class="card-content">
                    <h3>@restauracja.Nazwa</h3>
                    <p class="type">Typ: @restauracja.TypRestauracji</p>
                    <p>@restauracja.Opis</p>
                </div>
                <div class="card-footer">
                    <a asp-controller="Restauracja" asp-action="RestauracjaDetails" asp-route-id="@restauracja.Id" class="btn btn-primary">
                        Więcej
                    </a>
                </div>
            </div>
        }
    </div>
</body>