body {
    background-image: url('https://www.tapeciarnia.pl/tapety/normalne/tapeta-winiarnia-ze-stolikami-i-regalami-z-winem.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}
