@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona główna</title>

</head>
<div class="container mt-5">
    <h1 class="display-4">Witamy w Restauracji!</h1>
    <p class="lead">Najlepsze dania, przygotowane z pasją.</p>
    <a href="/Menu" class="btn btn-primary btn-lg">Zobacz menu</a>
</div>
<div class="container mt-5">
    <h2>Dlaczego warto nas odwiedzić?</h2>
    <p>Świeże składniki, autorskie przepisy i wyjątkowa atmosfera.</p>
</div>
